/build/Test_Files
/build/bin
/build/CMakeFiles
/build/cmake_install.cmake
/build/CMakeCache.txt
/build/install_manifest.txt
/build/LastBuild.log
/build/libOCS.dll
/build/libOCS.dll.a
/build/Makefile
/Test_Files/build
/build
